@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 11, 20, 22;
  --background-end-rgb: 31, 41, 55;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 31, 41, 55;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-end-rgb));
}

@layer components {

  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-1/5 flex-col justify-between overflow-auto border-r border-r-dark-4 pb-5 pt-28 max-md:hidden;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between border-b border-b-dark-4 backdrop-blur-sm bg-gray-800/30 px-6;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
}
